/* https://publicapis.io/rescue-groups-animals-api */
/* Adopt */
.dogs__df {
    width: 100%;
    max-width: 3840px;
    height: auto;
}

.dogs__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 76%;
    height: 100px;
    margin: 100px auto 0;
}

.dogs__title {
    font-size: 44px;
    font-weight: 600;
    color: #ff2c2c;
}

.dogs__filter {
    display: flex;
    justify-content: space-around;
    width: 260px;
}

.dogs__results {
    width: 80%;
    margin: 0 auto 80px;
}

.dogs__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.dogs__list-item {
    margin: 12px 10px;
    width: 200px;
    height: 320px;
    list-style: none;
    border: 1px solid #ff2c2c;
    position: relative;
    display: flex;
    flex-direction: column;
}

.dogs__list-item-loading {
    width: 100%;
    height: 620px;
    background-color: #fdfbd4;
    color: #ff2c2c;
    font-size: 48px;
    font-weight: 400;
    text-align: center;
    padding: 300px 0;
}

.dogs__name {
    color: #ff2c2c;
    font-size: 22px;
    font-weight: 400;
    text-align: center;
}

.dogs__img {
    margin: 12px auto;
    max-height: 260px;
}

.dogs__overlay {
    position: absolute;
    transition: all 300ms ease;
    background-color: #1c1d25;
    width: 200px;
    height: 100%;
    padding: 140px 10px 10px;
    opacity: 0;
}

.dogs__list-item:hover .dogs__overlay {
    opacity: 0.7;
}

.dogs__p {
    font-size: 16px;
    color: #fdfbd4;

}

.dogs__link {
    color: #fdfbd4;
    border: 1px solid #fdfbd4;
    border-radius: 12px;
    padding: 4px 10px;
}