/* Billing Info */

.billing__df {
    width: 100%;
    /* max-width: 3840px; */
    height: 640px;
}

.billing__form {
    width: 70%;
    margin: 0 auto;
}

.billing__title {
    font-size: 44px;
    font-weight: 600;
    color: #ff2c2c;
    margin-bottom: 30px;
}

.form__group {
    display: flex;
    margin-bottom: 34px;
    /* margin: 0 auto 34px; */
}

.form__row {
    width: 500px;
    /* margin: 0 auto; */
}

.input__style {
    width: 440px;
    padding: 12px;
}

.button__paypal {
    font-size: 24px;
    color: #fdfbd4;
    background-color: #ff2c2c;
    border: none;
    border-radius: 10px;
    width: 200px;
    cursor: pointer;
    padding: 10px 12px;
}

.paypal__img {
    font-size: 24px;
    margin: 0 12px;
}