/* Individual Dog Page */
.specific__width {
    padding: 0 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.specific__df {
    width: 80%;
    display: flex;
    align-items: center;
    /* height: 300px; */
    margin: 40px 0;
}

.specific__img {
    border: 2px solid #ff2c2c;
    border-radius: 20px;
    width: 300px;
    height: auto;
}

.specific__section-container {
    width: 300px;
    margin: 0 40px;
}

.specific__title {
    font-size: 40px;
    font-weight: 400;
    color: #ff2c2c;
    margin-bottom: 12px;
}

.specific__sub-title {
    font-weight: 400;
    margin-bottom: 12px;
}

.specific__p {
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5;
    width: 90%;
}

.specific__button {
    margin: 24px 0 100px;
    width: 180px;
    padding: 8px 0;
    border-radius: 16px;
    cursor: pointer;
    border: 2px solid #ff2c2c;
    color: #ff2c2c;
    background-color: #fdfbd4;
    position: relative;
}

.heart-icon {
    position: absolute;
    color: #ff7081;
    z-index: 9999;
    left: 80px;
    top: 90px;
    transform: scale(0);
    opacity: 0;
    transition: transform 300ms ease, opacity 300ms ease;
}

.heart-icon.animating {
    opacity: 1;
    position: absolute;
    animation: heartMove 5000ms ease-in-out;
}

@keyframes heartMove {
    0% {
        transform: scale(2) translate(0px, -40px);
        opacity: 1;
    }
    100% {
        transform: scale(2) translate(0px, -80px);
        opacity: 0;
    }
}