/* Footer */
.footer__df {
    width: 100%;
    max-width: 3840px;
    height: 284px;
    background-color: #ff2c2c;
    
}

.footer__Instagram {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 0;

}

.instagram__img {
    height: 100px;
    color: #fdfbd4;
}

.instagram__handle {
    font-weight: 600;
    color: #fdfbd4;
}

.footer__top {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__list {
    display: flex;
    margin-left: 60px;
}

.footer__link {

    list-style-type: none;
    margin-right: 28px;
}

.footer__link a {
    color: #fdfbd4;
}

.footer__logo__corp {
    width: 70px;
    height: 66px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.footer__logo {
    height: 80px;
}

.footer__bottom {
    display: flex;
    justify-content: space-around;
    margin-top: 24px;
    color: #fdfbd4;
    font-size: 14px;
    font-weight: 200;
}

.footer__bottom a {
    color: #fdfbd4;
    font-size: 14px;
    font-weight: 200;
}