/* Gift Amount */
.gift__df {
    display: flex;
    flex-direction: column;
    width: 100%;
    /* max-width: 3840px; */
    height: 440px;
}

.gift__title {
    font-size: 44px;
    font-weight: 600;
    color: #ff2c2c;
    margin: 60px 0 30px;
}

.amount__df {
    width: 70%;
    margin: 0 auto;
}

.amount__title {
    font-size: 34px;
    font-weight: 400;
    margin-bottom: 24px;
}

.gift__button-one {
    color: #fdfbd4;
    background-color: #ff2c2c;
    border: none;
    border-radius: 6px;
    font-size: 22px;
    font-weight: 300;
    padding: 12px;
    width: 400px;
    cursor: pointer;
    margin-bottom: 50px;
}

.gift__button-one.selected {
    filter: brightness(80%);
}

.gift__button-monthly {
    color: #fdfbd4;
    background-color: #ff2c2c;
    border: none;
    border-radius: 6px;
    font-size: 22px;
    font-weight: 300;
    padding: 12px;
    width: 400px;
    cursor: pointer;
    margin-left: 200px;
}

.gift__button-monthly.selected {
    filter: brightness(80%);
}

.gift__button-value {
    color: #fdfbd4;
    background-color: #ff2c2c;
    border: none;
    border-radius: 6px;
    /* font-size: 22px; */
    font-weight: 300;
    padding: 12px;
    width: 90px;
    cursor: pointer;
    margin-right: 90px;
}

.gift__button-value.selected {
    filter: brightness(80%);
}

.gift__custom {
    font-size: 24px;
    border: none;
    border-bottom: 2px solid #ff2c2c;
    padding: 10px 0 10px 10px;
}

.gift__custom.selected {
    background-color: #ffbfbf;
}