/* Landing */
.landing__df {
    width: 100%;
    /* max-width: 3840px; */
    height: 600px;
    display: flex;
    justify-content: center;
}

.landing__about {
    width: 100%;
    max-width: 50vw;
}

.landing__title {
    color: #ff2c2c;
    font-size: 44px;
    font-weight: 600;
    margin-top: 160px;
}

.landing__description {
    margin: 26px auto 46px;
    line-height: 1.5;
    font-weight: 300;
}

.landing__link {
    margin-right: 34px;
}

.landing__img--wrapper {
    width: 100%;
    /* max-width: 50vw; */
}

.landing__img {
    height: 540px;
}

.landing__donateNow-background {
    background-color: #ff2c2c;
    color: #fdfbd4;
    border: none;
    border-radius: 20px;
    padding: 12px 34px;
    font-weight: 600;
}

.landing__adopt-background {
    border: 2px solid;
    border-radius: 20px;
    padding: 12px 52px;
    font-weight: 600;
}