/* Navigation */

/* Default */
a {
    text-decoration: none;
    color: #ff2c2c;
    font-weight: 600;
}

/* Custom */
.nav__df {
    height: 100px;
    width: 100%;
    /* max-width: 3840px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 48px;
}

.nav__logo__corp {
    width: 74px;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.nav__logo {
    height: 100px;
}

.nav__list {
    display: flex;
    margin-left: 600px;
}

.nav__link {
    list-style-type: none;
    margin-right: 28px;
}

.nav__block {
    position: relative;
}

.nav__donate {
    font-weight: 600;
    color: #fdfbd4;
    background-color: #ff2c2c;
    border-radius: 20px;
    border: none;
    padding: 8px 18px;
    cursor: pointer;
    margin-right: 20px;
}

.nav__num {
    background-color: #ff2c2c;
    color: #fdfbd4;
    width: 18px;
    height: 18px;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    position: absolute;
    bottom: 2px;
    right: -24px;
    pointer-events: none;
}

.heart-flying {
    position: absolute;
    z-index: 9999;
    color: #ff7081;
    opacity: 0;
    transform: scale(0);
    transition: transform 1s ease, opacity 1s ease;
}

/* Make heart visible after moved */
.heart-flying.active {
    opacity: 1;
    transform: scale(1);
}

/* Tailwind CSS */
@tailwind base;
@tailwind components;
@tailwind utilities;